# Docker Environment Variables

# Web Server
WEB_PORT=8080

# Database
DB_PORT=3307
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=seven_eleven_shop
MYSQL_USER=seven_user
MYSQL_PASSWORD=your_password

# phpMyAdmin
PMA_PORT=8081
