# Docker Environment Variables
# Скопируйте этот файл в .env и настройте под себя

# Web Server
WEB_PORT=8080

# Database
DB_PORT=3307
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=seven_eleven_shop
MYSQL_USER=user
MYSQL_PASSWORD=password

# phpMyAdmin
PMA_PORT=8081
